venv/

.idea/

\.idea/

.mypy_cache/

\.mypy_cache/

clinica/agenda/__pycache__/

core/migrations/

db.sqlite3

*.sqlite3

*.pyc

clinica/run.sh

*.bat

\.env

env/

migrations/

*.sqlite3-journal

/core/__pycache__/

/__pycache__/

media/user_uploads/

venv/